@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #7d7d7d;
}

html {
  background-color: #171717;
  color: white;
}

/* Scale up hit targets on high resolution mobile devices. */
@media (min-resolution: 200dpi) {
  html {
    font-size: 18px;
  }

  .text-sm {
    /* ensure minimum font size of 16px */
    font-size: 0.9rem;
  }
}
